global:
  scrape_interval: 15s
  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'node-monitoring'
    
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s

    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'chain-main-nodes'
    static_configs:
{% for item in chain_main_nodes %}
{% filter indent(6) %}
      - targets: ['{{ item.node }}:26660']
{% endfilter %}
{% filter indent(8) %}
        labels:
{% endfilter %}
{% filter indent(10) %}
          instance: {{ item.name }}
{% endfilter %}
{% filter indent(10) %}
          chain_id: {{ item.chain_id }}
{% endfilter %}
{% filter indent(10) %}
          ip: {{ item.node }}
{% endfilter %}
{% endfor %}

  - job_name: 'node-exporter'
    static_configs:
{% for item in chain_main_nodes %}
{% filter indent(6) %}
      - targets: ['{{ item.node }}:9100']
{% endfilter %}
{% filter indent(8) %}
        labels:
{% endfilter %}
{% filter indent(10) %}
          instance: {{ item.name }}
{% endfilter %}
{% filter indent(10) %}
          chain_id: {{ item.chain_id }}
{% endfilter %}
{% filter indent(10) %}
          ip: {{ item.node }}
{% endfilter %}
{% endfor %}

rule_files:
  - "*.rules.yml"

alerting:
  alertmanagers:
    - static_configs:
      - targets: ['localhost:9093']